$theme-colors: (
    'primary':#98B1C4//Covalence Blue!  :D
);

//light theme
.nav-bar-text {
    color: #98B1C4;
}

.nav-bar-active {
    color: #03619e;
}

.progress-bars-hover:hover {
    box-shadow: 0 5px 15px rgba(33,33,33,.2);
    transform: translateY(1px);
    text-decoration: none;
    opacity: 0;
    font-size: 95%;
}

@media only screen and (max-width : 767px) {
    .box {
        height: auto !important;
    } 
}




@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
